.todo-list-details--view {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.todo-list-details__description {
  margin-right: 1rem;
}

.todos, .completed {
  margin: 1rem 0;
}

.active-form {
  margin-top: 1rem;
}

.todo-item-card {
  margin-top: 1rem;
  display: block;
  border: 1px solid var(--light-blue);
  border-radius: 0.5rem;
  display: grid;
  grid-template-areas: 
    "todoTitle   todoTitle         todoDueDate"
    "todoToggle  todoDescription   todoDescription"
    "todoToggle  todoActions       todoActions";
  grid-template-rows: min-content;
  grid-template-columns: min-content;
  grid-row-gap: 0;
  grid-column-gap: 0;
}

.grid-area--title {
  grid-area: todoTitle;
  background-color: var(--deep-blue);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: 0.5rem;
}

.grid-area--due-date {
  grid-area: todoDueDate;
  background-color: var(--deep-blue);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
  border-top-right-radius: 0.5rem;
}

.grid-area--toggle {
  grid-area: todoToggle;
  border-right: 1px solid var(--light-blue);
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-area--toggle .checkbox {
  color: var(--deep-blue);
}

.grid-area--description {
  grid-area: todoDescription;
  background-color: var(--light-blue);
  padding: 1rem;
}

.grid-area--actions {
  grid-area: todoActions;
  text-align: right;
  padding: 0.5rem;
}

.todo-item-card--completed .grid-area--title, .todo-item-card--completed .grid-area--due-date {
  background-color: var(--deep-green);
}

.todo-item-card--completed .grid-area--description {
  background-color: var(--light-green);
  color: white;
}

.todo-item-card--completed .grid-area--toggle .checkbox {
  color: var(--deep-green);
}